{% extends 'base.html' %}
{% load static %}


{% block title %}
Accueil - JoJo's Bizarre Adventure
{% endblock %}

{% block extra_css %}
<style>
    .modules-container {
        display: flex;
        justify-content: space-around;
        padding: 50px 20px;
        gap: 20px;
    }
    .module {
        background-color: #8F00FF;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        color: #FFD700;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .module-icon {
        width: 400px; /* Largeur fixe ou ajustez selon vos besoins */
        height: 400px; /* Hauteur fixe pour une dimension uniforme */
        object-fit: cover; /* Ajuste l'image pour qu'elle remplisse sans déformation */
        border-radius: 10px; /* Optionnel : arrondit les coins */
        display: block; /* Assure un bon alignement */
        margin: 0 auto; /* Centre l'image horizontalement */
    }
    
    .module-btn {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #FFD700;
        color: #8F00FF;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
    .module-btn:hover {
        background-color: #FF1493;
        color: #FFD700;
    }
</style>
{% endblock %}

{% block content %}
<div class="modules-container">
    <!-- Module 1 : Personnages -->
    <div class="module">
        <img src="{% static 'jojoperso.jpeg' %}" alt="Personnages" class="module-icon">
        <h2>Personnages</h2>
        <p>Découvrez l'histoire et les pouvoirs des personnages emblématiques de l'univers JoJo.</p>
        <a href="{% url 'list_characters' %}" class="module-btn">Explorer</a>
    </div>

    <!-- Module 2 : Théories -->
    <div class="module">
        <img src="{% static 'theoriesjojo.webp' %}" alt="Théories" class="module-icon">
        <h2>Théories</h2>
        <p>Plongez dans les théories les plus folles et fascinantes de la communauté JoJo.</p>
        <a href="{% url 'list_theories' %}" class="module-btn">Découvrir</a>
    </div>

    <!-- Module 3 : Mes Likes -->
    <div class="module">
        <img src="{% static 'like.png' %}" alt="Mes Likes" class="module-icon">
        <h2>Mes Likes</h2>
        <p>Consultez vos likes.</p>
        <a href="{% url 'my_likes' %}" class="module-btn">Voir</a>
    </div>
</div>
{% endblock %}
